body {
    background-color:black;
    background-image: url(img/ui/tempbgtile.png);
    overflow:hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

h1 {
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    user-select: none;
}

h2 {
    color:crimson;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    user-select: none;
}

h3 {
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    user-select: none;
}

/*shop gold count*/
h4 {
    color: gold;
    margin-left: auto;
    margin-right: 25%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:200%;
    user-select: none;
}

h5 {
    color: gold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:250%;
    user-select: none;
}

p {
    color: white;
    text-align: center;
    user-select: none;
}

.demon.name.text{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2em;
    min-width: 1em;
}

.fishbowl{
    position: absolute;
    z-index: 1;
    height:100%;
    width:100%;
}

.button_row {
    display: flex;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    user-select: none;
}

.center {
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    height: 30%;
    user-select: none;
}

.attackbutton {
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
    user-select: none;
}

.bossreturn{
    display: none;
    margin: auto;
    width: 20%;
    height: 20%;
    user-select: none;
}

.demon.border.div{
    position: relative;
    user-select: none;
    -moz-user-select: none;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: fit-content;
}

.demon.border{
    position: relative;
    z-index: 1;
    width:100%;
    min-width: 20em;
}

.demon.portrait{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
}

.demon.nameplate.div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding-inline: 3em;
    width: fit-content;
}

.demon.nameplate{
    position: relative;
    width: 100%;
    min-width: 10em;
}

.demon.image {
    display:block;
    margin: auto;
    width: 30%;
    height: 30%;
    user-select: none;
}

.boss.icon.box {
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 812px;
    height: 600px;
}

.boss.button {
    display:inline;
    margin: auto;
    width: 200px;
    height: 200px;
    user-select: none;
}

.product.unlocked {
    opacity: 0;
}

.product.unlocked.off{
    opacity: 1;
}

.upgrade.row.upper {
    position: relative;
    margin: auto;
    border: 10px;
    border-color:greenyellow;
    width: 641px;
    height: 171px;
}
.shop.upgrade.button {
    display:inline;
    border: 10px;
    border-color: greenyellow;
    width: 211px;
    margin: auto;
    user-select: none;
}

.infobox{
    position:relative;
    top:200px;
    margin:auto;
    height:200px;
    width:750px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: white;
}
.infobox.product.title {
    position: absolute;
    bottom:140px;
    left:240px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:32px;
}

.infobox.product.description {
    position: absolute;
    bottom:50px;
    left:220px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: white;
}

.infobox.product.cost {
    position: absolute;
    bottom: -50px;
    left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color:white;
}

.infobox.product.owned {
    position: absolute;
    bottom: -125px;
    left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color:white;
}

.infobox.buy.button {
    position: absolute;
    width: 129px;
    left: 500px;
    bottom: -80px;
    user-select: none;
}

.back.button {
    position: relative;
    width: 200px;
    height: 100px;
    margin: auto;
}
#heading {
    text-align: center;
}

#about_screen {
    display:none;
}

#reset_screen {
    display:none;
}

#shop_screen {
    display:none;
}

#boss_fight {
    display:none;
}

#boss_selection {
    display:none;
}

#main_screen {
    
}
