body {
    background-color:black;
}

h1 {
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

h2 {
    color:crimson;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

h3 {
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

/*shop gold count*/
h4 {
    color: gold;
    margin-left: auto;
    margin-right: 25%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:200%;
}

h5 {
    color: gold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:250%;
}

p {
    color: white;
    text-align: center;
}
.button_row {
    display: flex;
    justify-content: center;
}

.center {
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.product.unlocked {
    opacity: 0;
}

.product.unlocked.off{
    opacity: 1;
}

.infobox{
    position:relative;
    top:200px;
    margin:auto;
    height:200px;
    width:750px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: white;
}
.infobox.product.title {
    position: absolute;
    bottom:140px;
    left:240px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:32px;
}

.infobox.product.description {
    position: absolute;
    bottom:50px;
    left:200px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: white;
}

#heading {
    text-align: center;
}

#about_screen {
    display:none;
}

#reset_screen {
    display:none;
}

#shop_screen {
    display:none;
}